.product{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 20rem;
    margin: 10px 10px;
    min-width: 225px;
}

.product a.img{
    max-width: 100%;
    height: 15rem;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 3px;
}

.product a.img img.img-product{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.product div.description {
    margin-top: 1px;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.2);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
    max-width: 100%;
}

.product .funko-title,
.product .funko-name {
    text-align: center;
    font-weight: bold;
    color: var(--text);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product .funko-prices {
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

.product button {
    margin: 0 auto 1rem;
    border-radius: 0.5rem;
    width: 90%;
    text-transform: uppercase;
    border: solid 2px rgb(103,58,183);
    background-color: rgb(103,58,183);
    color: white;
}

.product button:hover {
    background-color: rgba(103,58,183,.8);
    color: white;
}


.priceTotal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-money{
    color: rgb(27, 240, 27);
    font-size: 40px;
}

.buyDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-left: 1px solid black;
    margin-left: 10px;
    cursor: pointer;
}